* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: url("bg.jpg") no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#envelope-container {
    text-align: center;
    cursor: pointer;
}

#envelope {
    width: 200px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


#letter-container {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

.letter-window {
    background: rgba(230, 242, 255, 0.85);
    backdrop-filter: blur(6px);
    width: 320px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    transform: scale(1.2);
    opacity: 0;
    transition: 0.4s ease;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

.cat {
    width: 180px;
    margin: 15px 0;
}


.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    width: 100px;
    cursor: point
}